{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    Liste Sessions actives:
    <ul>
        {% for row in activeSessions %}
            <li><a class="text-success" href="{{ path('show_session', {'id' : row.Id}) }}"> {{row}}  </a></li>
        {% endfor %}
    </ul>
    Liste Sessions à venir:
    <ul>
        {% for row in futureSessions %}
            <li><a class="text-primary" href="{{ path('show_session', {'id' : row.Id}) }}"> {{row}}  </a></li>
        {% endfor %}
    </ul>
    Liste Sessions passées:
    <ul>
        {% for row in lastSessions %}
            <li><a class="text-muted" href="{{ path('show_session', {'id' : row.Id}) }}"> {{row}}  </a></li>
        {% endfor %}
    </ul>
</div>



{% endblock %}
