{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}!</h1>

    <table class="table table-striped table-bordered mt-3">
        <caption class="h2 text-center caption-top">
            Modules de la session {{session}}
        </caption>
        <thead class="table-dark">
            <tr>
                <th>
                    Module
                </th>
                <th class="w-25">
                    Nb Jours
                </th>
                <th class="w-25">
                    Administration
                </th>
            </tr>
        </thead>
        <tbody>
            {% for module in session.programmes %}
            <tr>
                <td><a href="">{{module}}</a></td>
                <td>{{module.nombreJour}}</td>
                <td><button class="btn btn-danger">RETIRER</button></td>
            </tr>
            {% endfor %}
            <tr  class="table-primary">
                    <td>
                        <select name="add_module">
                            {% for module in modulesNotInSession %}
                            <option value="{{module}}">
                                {{module}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number"></input></td>
                    <td><button class='btn btn-success'>AJOUTER</button></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered mt-3">
        <caption class="h2 text-center caption-top">
            Stagiaires inscrits
        </caption>
        <thead class="table-dark">
            <tr>
                <th>
                    Nom - Prénom
                </th>
                <th class="w-25">
                    Administration
                </th>
            </tr>
        </thead>
        <tbody>
             {% for stagiaire in session.stagiaires %}
            <tr>
                <td><a href="{{ path('show_stagiaire', {'id' : stagiaire.Id} ) }}">{{stagiaire}}</a></td>
                <td><button class="btn btn-danger">RETIRER</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-bordered mt-3">
        <caption class="h2 text-center caption-top">
            Stagiaires non-inscrits
        </caption>
        <thead class="table-dark">
            <tr>
                <th>
                    Nom - Prénom
                </th>
                <th class="w-25">
                    Administration
                </th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in learnersNotInSession %}
            <tr>
                <td><a href="{{ path('show_stagiaire', {'id' : stagiaire.Id} ) }}">{{stagiaire}}</a></td>
                <td><button class="btn btn-success">AJOUTER</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
